<div class="text-center">
    <div class="grid">
        <!-- Search -->
        <div class="searchbox">
            <input type="search" id="email" hx-post="/api/address" hx-target="#main" name="email" placeholder="Search Email Box" aria-label="email address">

        </div>
    </div>
    <div class="grid">
        <div class="presentation">
            <img src="/imgs/logo-300.png" alt="OpenTrashmail Logo">
            <h1>Welcome to </br>Fake Email Server</h1>
            <p>This email server only allows inbound emails from the <b>@fakedomains.com</b> domain originated from AWS SES Service</p>
            <p>Development Fake Email Server is an application based on open source OpenTrashmail, selfhostable, disposable email service.</p>    
        </div>
     </div>
</div>
